body {
    font-family: 'Raleway', sans-serif;
}

section, 
footer {
    padding-top: 120px;
    padding-bottom: 130px;
}

#main-nav {
    background-color: #444;
}

#main-nav a {
    color: #c2c2c2;
    transition: all 0.4s;
}

#main-nav a:hover {
    color: #fff;
}



.join-us {
    
    background-image: url('../img/form-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
        
}

.join-us p {
    color: #c2c2c2;
}

.join-us form {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

.join-us form header {
    padding: 25px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.join-us form header p {
    font-size: 15px;
    margin: 0;
}

.join-us form fieldset {
    padding: 25px;
}

.join-us form fieldset input,
.join-us form fieldset textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px 20px;
    border-radius: 4px;
    
}

.join-us fieldset p a {
    color: #e38f42;
}

h1 {
    color: #fff;
}
.join-us .content-holder {
    color: #fff;
    padding-top: 120px;
}

.join-us .content-holder h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}

.btn-transparent {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.4s;
}

.btn-transparent:hover {
    color: #fff;
    opacity: 0.8;
}

#inspirations p {
    color: #888;
}

#inspirations a {
    color: #e38f42;
}

footer {
    background-color: #f8f8f8;
}

footer p {
    color: #888;
}
footer email {
    color: #e38f42;
}





